body {@import url('https://fonts.googleapis.com/css?family=Open+Sans');
	font-family: 'Montserrat', sans-serif;
	background-image: url("/img/bg.jpg");
	background: url("/img/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	margin: 0px;
}

.login-div {
	width: 350px;
	height: 350px;
	margin-left: -175px; /* metade da largura */
	margin-top: -175px; /* metade da altura */
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 12px;
	border: 1px solid #f3f3f3;
	background: #fff;
	-webkit-box-shadow: 9px 10px 5px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 10px 5px -7px rgba(0,0,0,0.75);
	box-shadow: 9px 10px 5px -7px rgba(0,0,0,0.75);
}

.panel-login {
	text-align: left;
	margin: auto;
	width: 80%;
}

.panel-login h1 {
	color: #697988;
	text-align: center;
}

.form-login hr {
	border: #E5F1FB 1px dashed;
	margin-top: }

	.form-login input{
	height: 30;
	font-size: 18px;
	border: 1px #C0C0C0 solid;
	padding: 8px;
	border-radius: 3px;
	width: 94%;
	margin-bottom: 5px;
}

.form-login button {
	cursor: pointer;
	margin-top: 20px;
	text-align: center;
	width: 100%;
	height: 40px;
	font-size: 17px;
}

.erro-email {
	margin: 10px;
	color: red;
}

.menu-top {
	position: fixed;
	height: 45px;
	width: 100%;
	background: #4A4A4A;
	border-bottom: solid 1px #2A2A2A;
	z-index: 999;
	display: inline-table;
}

.logo-header {
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 20%;
	height: auto;
	float: left;
}

.logout-menu {
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 10px;
	float: right;
	width: 70%;
	height: auto;
	text-align: right;
}

a.btn-header:link, a.btn-header:visited {
	color: #CCCCCC;
	text-decoration: none;
	font-size: 22px;
}

a.btn-logout:link, a.btn-logout:visited {
	color: #FFF;
	text-decoration: none;
	font-size: 17px;
}

.menu-left {
	position: fixed;
	padding-top: 75px;
	padding-left: 10px;
	width: 250px;
	height: 100%;
	background: #5C5C5C;
	float: left;
}

.display-container {
	padding-top: 80px;
	padding-left: 275px;
	padding-right: 30px;
	margin-bottom: 100px;
}

.display-container h1 {
	font-size: 20px;
}

.display-container hr {
	margin-top: 25px;
	margin-bottom: 25px;
	border: #FFF solid 1px;
}

.alert-success{
	z-index: 899;
	border-radius: 5px;
	height: auto;
	margin-left: 72%;
	margin-top: 160px;
	margin-right: 3%;
	position: fixed;
	width: 25%;
	background: #00BB2D;
	color: #FFFFFF;
	padding: 10px;
}

.alert-erro{
	z-index: 899;
	border-radius: 5px;
	height: auto;
	margin-left: 72%;
	margin-top: 220px;
	margin-right: 3%;
	position: fixed;
	width: 25%;
	background: red;
	color: #FFFFFF;
	padding: 10px;
}

.header-containerl-left {
	width: 50%;
	float: left;
}

.header-containerl-right {
	margin-top: 14px;
	width: 50%;
	float: right;
	text-align: right;
}

a.btn-novo-funcionario:link {
	padding: 10px;
	color: #FFFFFF;
	background: #DE8B2C;
	border-radius: 4px;
	text-decoration: none;
}

a.btn-novo-funcionario:visited {
	padding: 10px;
	color: #FFFFFF;
	background: #DE8B2C;
	border-radius: 4px;
	text-decoration: none;
}

#tblFuncionarios tr {
	text-align: left;
}

#tblFuncionarios_wrapper input {
	border-radius: 3px;
	border: solid 1px #CCCCCC;
	padding: 5px;
}

#tblFuncionarios_length select {
	border-radius: 3px;
	padding: 5px;
}

.btn-tbl {
	font-size: 12px;
	padding: 8px;
	border-radius: 3px;
	border: solid 1px #CCCCCC;
}

a.btn-tbl-vis:link, a.btn-tbl-vis:visited {
	border: solid 1px #93DB70;
	background: #93DB70;
	color: #FFFFFF;
}

a.btn-tbl-edit:link, a.btn-tbl-edit:visited {
	border: solid 1px #6B238E;
	background: #6B238E;
	color: #FFFFFF;
}

a.btn-tbl-excluir:link, a.btn-tbl-excluir:visited {
	border: solid 1px #FF0000;
	background: #FF0000;
	color: #FFFFFF;
}

a.btn-menu-left:link, a.btn-menu-left:visited {
	border-radius: 3px;
	width: 100%;
	color: #EAEAEA;
	text-decoration: none;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 55px;
	border-bottom: #EAEAEA solid 1px;
	border-right: #EAEAEA solid 1px;
	font-size: 16px;
}

a.btn-menu-left:hover {
	background: #7C7C7C;
	width: 100%;
	color: #EAEAEA;
	text-decoration: none;
	padding-bottom: 5px;
	padding-right: 55px;
	border-bottom: #EAEAEA solid 1px;
	border-right: #EAEAEA solid 1px;
}

.form-item {
	padding-bottom: 10px;
}

.form-item label {
	width: 100%;
	display: block;
	margin-bottom: 3px;
}

.form-item input {
	height: 30;
	font-size: 18px;
	border: 1px #C0C0C0 solid;
	padding: 8px;
	border-radius: 3px;
	width: 50%;
	margin-bottom: 5px;
}

.form-item input[disabled] {
	color: #7C7C7C;
	height: 40;
	font-size: 18px;
	border: 1px #C0C0C0 solid;
	padding: 8px;
	border-radius: 3px;
	width: 50%;
	margin-bottom: 5px;
}

.btn-submit {
	cursor: pointer;
	background: #B5A642;
	border-radius: 3px;
	text-decoration: none;
	padding: 10px;
	font-size: 12px;
	color: #fff;
}

#mask {
	position: absolute;
	z-index: 9000;
	background-color: #000;
	display: none;
}

#boxes .window {
	background: #FFFFFF;
	position: absolute;
	width: 440px;
	height: 200px;
	display: none;
	z-index: 9999;
	padding: 20px;
}

/* Personalize a janela modal aqui. Você pode adicionar uma imagem de fundo. */
#boxes #dialog {
	width: 375px;
	height: 180px;
	border-radius: 4px;
}
/* posiciona o link para fechar a janela */
.close {
	display: block;
	text-align: right;
	margin-top: -23px;
}

a.close:link, a.close:visited {
	text-decoration: none;
	color: #000000;
}

.btn-confirme, a.btn-n-confirme:link, a.btn-n-confirme:visited {
	padding: 10px;
	text-decoration: none;
	border: none;
	display: inline;
	cursor: pointer;
}

.btn-confirme {
	color: #FFFFFF;
	background: #B5A642;
}

a.btn-n-confirme:link, a.btn-n-confirme:visited {
	color: #FFFFFF;
	background: #4A4A4A;
}

footer {
	bottom: 0;
	width: 100%;
	height: 30px;
	text-align: right;
	margin-top: 50px;
}

.div-footer{
	font-size: 15;
	font-family: "Arial Black";
	float: right;
	text-align: right;
	padding-right: 40px;
	color: #7C7C7C;
	font-style: italic;
}
